.email-input, .email-label, .tnc, .join-btn {
    width: 410px;
    color: rgb(83, 83, 83);
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

.email-input {
    border-radius: 5px;
    border: 1px solid rgb(53, 53, 53);
    margin-top: 10px;
    margin-bottom: 20px;
    height: 20px;
    width: 390px;
}

.join-btn {
    background-color: rgb(10, 102, 194);
    color: white;
    padding: 10px 0px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 390px;
    margin-top: 10px;
}