p {
    font-family: Arial;
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
}


.learn-more {
    color: rgb(63, 175, 212);
    margin-top: 14px;
    cursor: pointer;
}